/* GENERAL */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Temporary; https://fonts.google.com/ */
}

body {
    /* From jQuery mobile:
    background-color:#f9f9f9;*/

  	background-color: #F7F3CE !important; /*#E4E4E4*/
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

section {
    height: 100vh;
    width: 100vw;
}

/* WHY */

#why {
    background-image: url("../images/notebook.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title {
    line-height: 2.0; 
    padding: 120px 50px 50px 50px;
    width: 400px;
    margin: 20px auto;
}

#title h2, #title p {
    background-color: black;
    color: #fff; 
    display: inline;
    padding: 0.5rem;
    
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* EXAMPLES */

#examples h2, #create h2 {
    text-align: center;
}

#examples img {
    width: 300px; /* These will obviously change with the actual images */
    height: 300px;
    margin: auto;
    margin-top: 20px;
}