/* Styles for the menu */
.menu {
    /* TODO: Enforce the CSS order from card (& find the card!) */
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 32px;
    position: fixed;
    width: 288px;
    background-color: #32325D;
    transform: translate3d(-100%, 0, 0);
    /* Is there a way to make transform initial reaction faster? Work on timing. */
    -webkit-transition: transform .2s ease-in-out;
       -moz-transition: transform .2s ease-in-out;
         -o-transition: transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
}

.menu--open {
    transform: translate3d(0, 0, 0);
}

.hide {
    display: none;
}

#mobile {
    display: none;
}

/* Break from desktop to mobile */
@media (max-width: 600px) {
    #mobile { display: inline-block;}
    #desktop { display: none;}
}