# Cordova
platforms/
plugins/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Environment
env.js
build.json
app/www/index.js
app/www/index.js.map
website/scripts/env.php
webapp/js/bundle.js
Composer/
/logins

# Building for release
app/app-release-unsigned.apk
app/couponbooked.apk
app/couponbooked-final.apk
app/couponbooked.keystore
app/buildAndroidRelease.js

# Image storage
app/playStoreIcon.png
app/playStoreIcon_cropped.png
app/featureGraphic.psd
app/www/manifest.json