/* GENERAL */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Temporary; https://fonts.google.com/ */
    max-width: 100%;
}

html {
    min-height: 100vh;
}

body {
  	background-color: #f9f9f9 !important;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-transform: none !important; /* Should I let this be uppercase like Cordova does? */
}

a {
    text-decoration: none;
}
button {
    border: .5px solid black;
}
button:focus, a:focus {
    outline: none;
}

section {
    min-height: calc(100vh - 56.3833px);
    width: 100vw;
}

iframe[seamless] {
    background-color: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* Used for testing purposes and toggling whether an element is displayed */
.hide, .hidden {
    display: none;
}

#deviceReady {
    display: none;
}

/* WHY */

#why {
    min-height: 100vh;
    background-image: url("../images/notebook.jpg"); /*Photo by Team Easil on Unsplash*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title {
    line-height: 2.0; 
    padding: 120px 50px 50px 50px;
    width: 400px;
    /*margin: 20px auto;*/
}
#title h2, #title p {
    background-color: black;
    color: #fff; 
    display: inline;
    padding: 0.5rem;
    line-height: 2.1; /* Not set on this yet; WIP */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* EXAMPLES */

#examples h2, #create h2 {
    text-align: center;
}
#examples img {
    width: 300px; /* These will obviously change with the actual images */
    height: 300px;
    margin: auto;
    margin-top: 20px;
}