label {
    margin-bottom: 10px;
    display: block;
}
#main-content {
    min-height: 550px;
}

.navbar {
    position: fixed;
    height: 56.3833px;
    width: 100%;
    top: 0;
    padding: 0; /* Should expermient with this vs. default; normal height 87px */
    padding-top: 5px;
    margin-bottom: 0px !important;
    background-color: #0b98de !important;
    box-shadow: 0 1px 2px 0 #0b98de;
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar-nav {
    margin-right: 0px;
    margin-left: 0px;
}
#login {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-right: 16px;
}
/* Doesn't look good on phone. TODO: Test tablets and diff screen sizes
.nav-item {
    margin-top: -4px;
}
*/
.container {
    max-width: inherit;
    padding-left: 5px;
}
@media (max-width:576px) {
    .container {
        padding: 0px;
    }
    #logo {
        margin-right: -3px;
    }
}
@media (max-width: 767px) {
    .nav-item {
        margin-bottom: 1.6rem /* Changed; */;
    }
    .navbar-nav:first-child {
        margin-top: .25em;
    }
    .nav-item .nav-link {
        padding: 0px;
    }
}
.nav-user-profile {
    max-width: 35px;
}
.dropdown-toggle::after {
    margin-top: 20px;
}