label {
    margin-bottom: 10px;
    display: block;
}
#main-content {
    min-height: 550px;
}

.navbar {
    position: fixed;
    z-index: 98;
    height: 56.3833px;
    width: 100%;
    top: 0;
    padding: 0; /* Should expermient with this vs. default; normal height 87px */
    padding-top: 5px;
    margin-bottom: 0px !important;
    background-color: #0b98de !important;
    box-shadow: 0 1px 2px 0 #0b98de;
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar>.container,
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav {
    margin-right: 0px;
    margin-left: 0px;
}
.container {
    max-width: inherit;
    padding-left: 5px;
}
@media (max-width:576px) {
    .container {
        padding: 0px;
    }
    #logo {
        margin-right: -3px;
    }
}
@media (max-width: 767px) {
    .nav-item {
        margin-bottom: 1.6rem /* Changed; */;
    }
    .navbar-nav:first-child {
        margin-top: .25em;
    }
    .nav-item .nav-link {
        padding: 0px;
    }
}
.nav-user-profile {
    max-width: 35px;
}
.dropdown-toggle::after {
    margin-top: 20px;
}

#row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#buttonContainer button {
    /* TODO: Improve the look of these eventually; especially the edge shading */
    /* IDEA: On click animation into loaded template, like swirl or something */
    border-radius: 50%;
    display: inline-block;
    width: 35%;
    padding: 0px;
    margin-bottom: 10px;
    overflow: visible !important;
    text-overflow: clip !important;
    white-space: normal !important;
    background-color: #24a0ed; /* TODO: Work on color; https://encycolorpedia.com/24a0ed + https://fvsch.com/styling-buttons/ */
    border-color: #1183ca;
    color: rgb(241, 241, 241);
    /*text-shadow: 0 1px 0 #f3f3f3;*/
}

/* None of this should be necessary, but *might* speed up animations */
.carousel .carousel-item{
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    width: 100%;
}

/* For dashboard tab menu */
.col {
    padding: 0px;
}
#noneSent, #noneReceived {
    width: 100%;
    text-align: center;
    position: absolute;
    top: calc(50% - 60px); /* Subtract nav height for better-looking vertical center */
    transform: translateY(-50%);
}

/* Dashboard page elements */
.bookPreview {
    width: 49%;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    margin-left: .25%;
}
.bookImage {
    line-height: 1.175;
    display: block;
    margin: auto;
    width: 80%;
}
.bookName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}
.receiverText, .senderText {
    color: #7E7E7E;
}

#save {
    float: right;
}

/* Manipulate page elements */
#manipulateTopbar {
    width: 100%;
    height: 40px;
    margin-top: -5px;
    background-color: #EEEEEE;
}
#manipulateTopbar a {
    /* TODO Style these a LOT better */
    font-size: 18.5px;
    line-height: 40px;
}
#back {
    margin-left: 13px;
}
#save {
    margin-right: 13px;
}
#plus {
    /* TODO: For all important buttons, add click animation effect */
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #0b98de;
}