nav {
    width: 100%;
    height: 40px;
    background-color: #0b98de;
    overflow: hidden;
    position: fixed;
    top: 0;
}

nav a {
    font-family: sans-serif;
    color: white;
    text-shadow: 1px -1px -6px #000; /* TODO: Look into this */
    text-decoration: none;
}

/* Styles for the menu */
.menu {
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 32px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #32325D;
    transform: translate3d(0, -100%, 0);
    -webkit-transition: transform .2s ease-in-out;
       -moz-transition: transform .2s ease-in-out;
         -o-transition: transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
}

.menu--open {
    transform: translate3d(0, 0, 0);
}

.menu ul {
    padding-left: 0;
    list-style-type: none;
}

.menu li {
    margin-top: 25px;
    text-align: center;
}

.menu li a {
    color: white;
    font-size: 32px;
}

/* Used for testing purposes and toggling whether an element is displayed */
.hide {
    display: none;
}

#mobile {
    margin-top: -4px;
    display: inline-block;
}

#sign-in {
    float: right;
    font-size: 13px;
    padding: 20px 10px;
    margin-top: -8px;
}

#sign-in:hover {
    background-color: #17b0cf;
}

#logo {
    width: 40px;
    height: 40px;
    margin-bottom: -10px;
    margin-right: 3px;
}

#brand {
    font-size: 30px !important;
    letter-spacing: -2px;
    text-shadow: 1px 1px 2px #c4c4c4;
    margin: 0;
}
