<?xml version='1.0' encoding='utf-8'?>
<widget id="com.couponbooked.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Coupon Booked</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="ajmeese7@gmail.com" href="http://aaronmeese.com">
        Aaron Meese
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <plugin name="cordova-plugin-safariviewcontroller" spec="^1.6.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.4.0">
        <variable name="URL_SCHEME" value="{com.couponbooked.app}" />
        <variable name="ANDROID_SCHEME" value="{com.couponbooked.app}" />
        <variable name="ANDROID_HOST" value="couponbooked.auth0.com" />
        <variable name="ANDROID_PATHPREFIX" value="/cordova/{com.couponbooked.app}/callback" />
    </plugin>
    <engine name="android" spec="~7.1.4" />
</widget>
