/* GENERAL */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Temporary; https://fonts.google.com/ */
}
*:focus {
    outline: 0;
}
body {
  	background-color: #e8f6fa !important;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

/* Used for toggling whether an element is displayed */
.hide {
    display: none;
}

@media screen and (min-width: 1550px) {
    #create {
        background-image: url("../images/notebook_medium.jpg") !important;
    }
    .webp #create {
        background-image: url("../images/notebook_medium.webp") !important;
    }
    #title {
        padding: 70px 0px 0px 70px !important;
    }
    #openBook {
        bottom: 65px !important;
    }
}
@media screen and (max-width: 1000px) {
    :root {
        --about-image-width: 300px !important;
    }

    #about p {
        max-width: none !important;
    }
    #aaron, #madison {
        float: none !important;
        margin: auto;
    }
    #top {
        padding-bottom: 25px;
    }
}
@media screen and (max-width: 800px) {
    .no-webp #create {
        background-image: url("../images/mobile_landing.png") !important;
    }
    .webp #create {
        background-image: url("../images/mobile_landing.webp") !important;
    }

    #title {
        padding: 0 !important;
        max-width: 90% !important;
    }
    #title p {
        padding: 0 !important;
        max-width: 99% !important;
    }

    #openBook {
        /* TODO: Improve this */
        position: inherit !important;
        margin-bottom: 20px;
        background: rgba( 240, 138, 127, 0.35) !important;
    }

    #bottom {
        margin-bottom: 30px;
    }
    .glide__slide q {
        max-width: 85% !important;
        font-size: 38px !important;
    }
}
@media screen and (max-width: 600px) {
    #quoteContainer {
        margin-top: 0px !important;
    }
    .glide__arrow {
        display: none !important;
    }
}
@media screen and (max-width: 535px) {
    footer a, footer p {
        display: table !important;
        margin: auto !important;
    }
    footer p {
        padding-top: 5px;
        padding-bottom: 2px;
    }
    footer a {
        float: none !important;
        padding-bottom: 10px;
        margin-bottom: 0 !important;
    }
}

#about, #testimonials {
    min-height: 80vh;
}

/******************************
        CREATE YOUR OWN
 ******************************/

#create {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 3px 3px #bdc9cc;
    min-height: calc(100vh - var(--nav-height));
}
.no-webp #create {
    background-image: url("../images/notebook.png");
}
.webp #create {
    background-image: url("../images/notebook.webp");
}
#title {
    position: relative;
    line-height: 2.0;
    margin: 0 auto 20px auto;
    padding: 60px 0px 50px 55px;
    width: 525px;
    height: 94vh;
    /* 94vh before, but changed b/c 1366*768 */
    min-height: 825px;
}
#headerParent {
    font-size: inherit;
    padding: 0;
    display: inline;
}
#siteHeader {
	font-variant: small-caps;
	color: black;
	font-size: 40px;
	font-weight: bold;
}
#title p {
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    font-style: oblique;
}

#openBook {
    border: 1px dashed black;
    background: none;
    color: black;
    letter-spacing: 0.075ch;
    position: absolute;
    bottom: 50px;
    height: 50px;
    right: -25px;
}
#openBook:hover {
    background: rgba( 240, 138, 127, 0.35) !important;
}

/******************************
              ABOUT
 ******************************/

:root {
    --about-image-width: 250px;
}
#about {
    width: 85% !important;
    max-width: 1500px;
    margin: auto;
    padding-top: 25px;
}
#about img {
    width: var(--about-image-width);
    border-radius: 2px;
    box-shadow: 3px 3px 1px #ccc;
}
#about p:not(.name) {
    display: inline-block;
    max-width: calc(100% - var(--about-image-width) - 50px);
    margin-bottom: 0;
    margin-top: 14px; /* NOTE: WIP */
}

#top, #bottom {
    min-height: calc(var(--about-image-width) + 25px);
}
#aaron, #madison {
    /* TODO: Decide if this needs variable too */
    min-height: 325px;
    width: var(--about-image-width);
}
.name {
    margin: auto;
    margin-top: 5px;
    display: table;
    font-weight: bold;
}

#top p:not(.name) {
    margin-left: 25px;
}
#aaron {
    float: left;
}

#bottom {
    margin-top: 25px;
}
#madison {
    float: right;
}

/******************************
          TESTIMONIALS
 ******************************/

#testimonials h2, #download h2 {
    margin: auto;
    text-align: center;
    font-style: oblique;
}
#testimonials h2 {
    font-size: 36px;
}

@font-face {
    font-family: Bariol-Regular;
    font-display: swap;
    src: url(../fonts/Bariol_Regular.otf);
}
#quoteContainer {
    margin-top: 65px;
}
.glide__slide {
    display: table;
    margin: auto;
    margin-top: 50px;
    max-width: 85%;
}
.glide__slide q {
    max-width: 600px;
    font-size: 28px;
    display: block;
    margin: auto;
    text-align: center;

    /* http://typ.io/s/3xx4 */
    font-family: Bariol-Regular, serif;
	font-size: 42px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	text-transform: none;
	color: #707C80;
}
.glide__slide p {
    text-align: center;
    font-family: Gotham-Book, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-transform: uppercase;
    color: #394042;
}
.glide__arrow:hover {
	/* border: 1px solid grey; */
	background: #76cde5 !important;
}
#rating {
    margin: auto;
    display: table;
}
#rating img {
    height: 35px;
    width: 35px;
    display: inline-block;
}

/******************************
            DOWNLOADS
 ******************************/

section {
    /* NOTE: Let's just hope they don't use desktop mode on mobile lmao */
    width: 100vw;
}
#download h2 {
    text-align: center;
}

/******************************
             FOOTER
 ******************************/

footer {
    width: 100%;
    min-height: 40px;
    background-color: #76cde5;
    box-shadow: 0 -0.5px 2px 0 #76cde5;
    position: relative;
    bottom: 0;
}
footer p, footer a {
    color: azure;
    display: inline-block;
    margin: 5px 20px 0px 20px;
}
footer a {
    float: right;
}

/******************************
           SCROLL DOWN
 ******************************/

.scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgb(0, 0, 0);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#scrollPadding {
  display: none;
  height: 10px;
  line-height: 1.0;
}

@media screen and (max-width: 500px) {
  .scroll-down {
    position: initial !important;
    display: table;
    margin: auto;
  }

  #scrollPadding {
    display: inherit !important;
  }
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 9px); /* TODO: Find a better way to display this? */
    left: calc(50% - 7.5px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid rgb(0, 0, 0);
    border-width: 0px 0 2px 2px;
}
  
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}