:root {
    --nav-height: 48px;
    --nav-color: #0b98de;
}

nav {
    width: 100%;
    height: var(--nav-height);
    background-color: #0b98de;
    overflow: hidden;
    top: 0;
}
nav a {
    font-family: sans-serif;
    color: white;
    text-shadow: 1px -1px -6px #000; /* TODO: Look into this */
    text-decoration: none;
}

#brand, #scroll-why, #scroll-example, #scroll-create {
    display: block; 
    float: left;
}

/* TODO: Clean this up */
#scroll-why, #scroll-example, #scroll-create {
    font-size: 13px;
    padding: 20px 10px;
    margin-top: -8px;
}
#scroll-why:hover, #scroll-example:hover, #scroll-create:hover {
    background-color: #17b0cf;
}

#googlePlay {
    float: right;
    height: var(--nav-height);
}
#googlePlay img {
    width: 120px;
    margin-top: -3px;
}
#googlePlayMobile {
    margin-left: 10%;
}
#googlePlayMobile img {
    width: 80%;
}

#logo {
    width: var(--nav-height);
    height: var(--nav-height);
    margin-bottom: -10px;
    margin-right: 3px;
}
#brand {
    font-size: 30px !important;
    letter-spacing: -2px;
    text-shadow: 1px 1px 2px #c4c4c4;
    margin: -2.5px 10px 0 18px;
}